*{
    box-sizing: border-box;
    
    
}
body{
    background-color: #191E29;
}
.header h1{
color: antiquewhite;

}
.text h3{
    
color: antiquewhite;
}
.navbar{
    background-color: black;
    height: 90px;
    width: 100%;
    padding: 12px;
    background-color: #132d46;
}
P, h1 ,h3, h2,h4{
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
}
li > a{
    color: #01C38D;  
}
h3{
    text-align: center;
}
.logo{
    text-align: end;
    width: 8%;
    height: 100%;
}
.logo img{
    border-radius:80px;
    width: 65%;
    height: 100%;
}

.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text{
    width: 90%;
    /* background-color: aqua; */
}
.header p{
    text-align: center;
    font-size: 19px;
}
.header{
    background-image: url("images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{

    font-size: 55px;
    text-align: center;
}
/*  */
.buttonContainer{
    display: flex;
    justify-content: end;
    align-items: center;
  
    gap: 5px;
    margin-right: 20px;
    padding: 10px;
    
    /* background-color: aqua; */
}
.dot{
    display: flex;
    justify-content: start;
    margin-bottom:-20px ;
    width: 100%;
}
.dot h1{
    color: whitesmoke;
    font-size: 25px;
}
.button button{
    background-color: beige;
    border: none;
    height: 100%;
    width: 60px;
    padding: 10px 10px;
    cursor: pointer;
    
}
.button img{
    height: 0%;
    width: 60%;
}
.button :hover {
    background-color: #01C38D;
}
/**/
.container,.photoContainer, .photoContainer2{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
    scroll-behavior: smooth;
    padding-top: 5px;
    height: 500px;
    padding-bottom: 30px;
    position: relative;
    
    
}

.container::-webkit-scrollbar{
    display: none;
}
.photoContainer::-webkit-scrollbar{
    display: none;
}
.photoContainer2::-webkit-scrollbar{
    display: none;
}
.item{
    background-color: #132d46;
    flex: 0 0 24%;
    
    height: 100%;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.item img{
    transition: transform 0.2s;
    border-radius: 15px;
    width: 100%; 
    height: 80%;
}

.item img:hover{

    transform: scale(1.1);
}.photo img:hover{
    transform: scale(1.1);
}
/*  */
/* ,.photoContainer, .photoContainer2{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
    scroll-behavior: smooth;
    height: 500px;
    padding-top: 10px;
    justify-content: center;
  
} */
.navigation{
    background-color: black;
    display:block ;
    width: 100%;
    height: 70px;
}
.infobody{
    grid-template-columns: 30px 70px; 
    background-color: aquamarine;
    display: flex;
    background-color: #132d46;  
    height: 720px;
        gap: 20px; 
        color: rgb(0, 0, 0);
        padding: 0 20px; 
        max-width: 1200px; 
        margin: 0 auto; 
        margin-top: 20px;
}
.infobodyright{
  
  background-color: red;
    width: 70%;
    padding-left:45px ;
    padding-top: 40px;
   
}
.rightcontainervideo{
    
    height: 450px;
    width: 850px;
    
    background-color: green;
    display: flex;
    justify-content: space-around;
    
}
.leftcontainer1, .leftcontainer2, .leftcontainer3{
    height: 190px;
    width: 350px;
    
    background-color: green;
    display: flex;
    justify-content: space-around;
    
    margin-top: 30px;
    
  
    
}

.container1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #01C38D;
    border-radius: 5px;
}


.row {
    display: flex;
    margin-bottom: 20px;
    height: 650px;
    padding-left: 3%;
    padding-top: 1%;
    
}

.col-sm-8 {
    flex: 0 0 66.666667%;
    background-color: #132d46; 
    height: 657px;  
    width: 70%;
    padding: 10px;
    margin-left: -30px;
    padding-left: -50px;
    padding-top: 15px;
    border-right: 1px solid #ccc;
}

.col-sm-8, h1{
    padding-bottom: -100px;
}
.col-sm-8 > iframe{
    height: 85%;
    width: 100%;
    
}
.col-sm-4 {
    height: 100%;
    width: 25%;
    flex: 0 0 33.333333%;
    background-color: #191E29;
    padding: 10px;
    padding-left: 30px;
    
}
.col-sm-4, img{
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto;
}
.col-sm-8 > * {
    margin-bottom: 10px;
    
}

.col-sm-4 > * {
    margin-bottom: 10px;
}

.footer {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 50px;
    

}

.footer .row {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.footer .row:first-child {
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer .row:last-child {
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 10px;
}

.footer .col {
    flex: 1;
}

.footer .col h4 {
    margin-bottom: 10px;
}

.footer .col ul {
    list-style-type: none;
    padding: 0;
}

.footer .col ul li {
    margin-bottom: 5px;
}

.footer .col a {
    color: #fff;
    text-decoration: none;
}

.footer .col a:hover {
    text-decoration: underline;
}
.item > video{
    width: 100%;
    height: 80%;
}
.video{
    display:none;

}

@media screen and (max-width: 480px) {
    .row {
        
    height:fit-content;
    display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .row > iframe {
    
      height: 900px;
    }   
    .dot h1{
        font-size: 20px;
    }
    .logo {
        width: 46px;
        height: 40px; 
        border-radius: 50%;
       padding-top: 10px;
            margin-left: -5px;
            margin-top: -13px;
        
    }
.navbar{
    height: 50px;
}
.navigation{
    height: 20px;
}
   .header{
    width: 100%;
   }
    .header h1 {
        font-size: 60px; 
    }
    
    .rightcontainervideo{
    
        height: 100%;
        width: 100%;
        
        background-color: green;
        display: flex;
        justify-content: space-around;
        
    }
    .infobodyleft{
        background-color: gray;
        height: 100%;
        width: 100%;
        padding-top: 10px;
        padding-left: 25px;
        
    }
    .infobody{
    
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        height: 720px;
    }
    .container {
        flex-wrap: nowrap;
        height: 350px;
    }
    .item{
    
            background-color: #132d46;
            
        flex: 0 0 49%;
        height: 100%;
        border-radius: 15px;
        text-align: center;
    }
    .photoContainer, .photoContainer2{
        flex-wrap: nowrap;
        height: 350px;  
    }
    .photo{
        background-color: antiquewhite;
        flex: 0 0 48%;
        height: 100%;
        border-radius: 15px;
        text-align: center;
    
    }
   
    .col-sm-8 {
        width: 450px;
        
        background-color: aqua;
    }
    .col-sm-4, img{
        max-width: 100%; 
        max-height: 100%; 
        width: auto; 
        height: auto;
    }
    .col-sm-8 > iframe {
        width: 100%;
        height: 100%;
    }
    .col-sm-8 > h2{
    
        font-size: 13px;
    }
    .col-sm-4 > img {   
        text-align: center;
        width: 32%;
        height: 100px
        
    }
    .col-sm-4 {
        margin-top: 40px;
        margin-left: -10px;
        width: 420px;
    }
    .buttonContainer{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5px;
        margin-right: 5px;
        padding: 5px;
        
    }
    .button button{
        background-color: beige;
        border: none;
        height: 10%;
        width: 50px;
        padding: 5px 5px;
        cursor: pointer;       
    }
    .button img{
        height: 0%;
        width: 40%;
    }
    P, h1 ,h3, h2,h4{
        font-weight: bold;
        font-size: 13px;
        color: #01C38D;
    }
    
 
    

    
}